.ashely{font-size: 30px;
color: white;
text-transform: capitalize;
}




p2{font-size:50px;
    color:white;
text-transform: capitalize;}


p3{color: white;
font-size: 40px;
text-transform: capitalize;}



H1{font-size:60px;
    color:white;} 


    .player{width: 360px;
    height: 360px;
margin-left: 5px;}



.link{font-size: 50px;
color:red}


.link2{font-size: 50px;
color:red}


.andreih{
    font-size: 50px;
color:red}


